body > div{
    max-width: 960px;margin: 0 auto;
}
    div fieldset{
        border: 1px solid #0055ff;padding: 15px 20px;
    } 
    div fieldset:not(:last-of-type){
        margin: 0 0 25px 0;
    } 
    div fieldset textarea{
        display: block;width: 100%;padding: 10px 1%;
        box-sizing: border-box;resize: none;
        height: 150px;margin-top: 25px;
        border: 1px solid #5500ff;transition-duration: 2s;
    } 
    div fieldset input[type='checkbox']:checked+textarea{
        height: 0;padding: 0 1%;
    }