html,
body,
.wrap {
    height: 100%;
}
body {
    margin: 0; padding: 0;
}
.wrap {
    background-image: url('../img/pt.gif');
    /* background-position: left; */
}
.wrap p {
    background-color: #00ccff;padding: 20px;margin: 0 0 20px 0;
}
.wrap button {
    background-image: url('../img/pt_ex.png');
    background-repeat: repeat-x;
    padding: 0 40px; line-height: 50px; color: white;
    border: none;
}