body {
    margin: 0; padding: 0; 
    font-size: 12px; color: #6600ff;
}
h1 {
    font-size: 14px; color: #ff0033;
}
img {
    width: 150px; height: 150px;
    border: 1px solid #33ff33;
}
/*  ? 각각의 대상을 지목하여 style을 설정. */
ul,
ol,
dl {
    list-style-image: url('https://img.icons8.com/windows/32/000000/full-of-shit.png'); color:#ff0000;
}
/* ? 동일한 규칙의 스타일을 여러 대상에 동시 설정. (grouping) */

ul li {
    font-size: 15px; font-weight: bold;
}
ol li {
    font-size: 20px; text-decoration: underline;
}
/* ?하위 대상을 지목하려 스타일을 설정 할 수 있다. */
dl dt,
dl dd {
    font-size: 35px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ?하위 대상을 동일한 규칙 스타일 적용의 예 */